<% provide(:title, "Sign in") %>
<div class = "sign_in_up_box">

  <div class="row">
   <div class="span6 forms">
      <h3 class="sign_up2">Welcome back</h3>
      <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, class: "labels" %>
      <%= f.text_field :email %>

      <%= f.label :password, class: "labels"  %>
      <%= f.password_field :password  %>

      <%= f.submit "Sign in", class: "btn btn-md btn-primary center-block" %>
      <% end %>

      <p id="new_user_sign">New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>