<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class= "field">
    <%= f.label :article_type %><br/>
    <% if URI(request.referer).path == '/game' %>
    <%= f.select :article_type, options_for_select(%w[Game]) %>
    <% end %>
    <% if URI(request.referer).path == '/laugh' %>
    <%= f.select :article_type, options_for_select(%w[Laugh]) %>
    <% end %>
    <% if URI(request.referer).path == '/news' %>
    <%= f.select :article_type, options_for_select(%w[News]) %>
    <% end %>
    <% if URI(request.referer).path == '/random' %>
    <%= f.select :article_type, options_for_select(%w[Random]) %>
    <% end %>
    <% if URI(request.referer).path == '/' %>
    <%= f.select :article_type, options_for_select(%w[Laugh Game News Random]) %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
