<% provide(:title, "Edit user") %>
<div class = "sign_in_up_box">

  <div class = "row">
    <div class="span6 forms">
      <h3 class="sign_up2">Update your profile</h3>

      <div class="span12 grav_edit">
        <a href="http://gravatar.com/emails"><%= gravatar_for @user %></a>
      </div>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :username, class: "labels" %>
        <%= f.text_field :username %>

        <%= f.label :email, class: "labels" %>
        <%= f.text_field :email %>

        <%= f.label :password, "New Password", class: "labels" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm New Password", class: "labels" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Save changes", class: "btn btn-md btn-primary center-block" %>
      <% end %>
    </div>
  </div>
</div>