<% provide(:title, 'Sign up') %>
<div class="sign_in_up_box">
<div class="row">
  <div class="span6 forms">
    <h3 class="sign_up2">Sign up</h3>
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :username, class: "labels" %>
      <%= f.text_field :username %>

      <%= f.label :email, class: "labels" %>
      <%= f.text_field :email %>

      <%= f.label :password, class: "labels" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation", class: "labels" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-md btn-primary center-block" %>
    <% end %>
  </div>
</div>
</div>