<% provide(:title,@user.username) %>
  <div class="span12 user_icon">
        <%= gravatar_for @user %>
        <h1 id="username_title">
        <%= @user.username %>
      </h1>
  </div>
<div class="row">
  <div class="span4">
      <h3>Posted Articles (<%= @articles.total_entries %>)</h3>
      <ol class="user_articles">
        <% @articles.each do |article| %>
          <li>
            <span class="content"><%= link_to article.title, article.content %></span>
            <span class="timestamp">
            Posted <%= time_ago_in_words(article.created_at) %> ago to <%= article.article_type %>.
            </span>
            <div>
              <% if current_user?(article.user) %>
              <%= link_to "delete", article, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: article.title %>
              <% end %>
            </div>
          </li>
        <% end %>
        <%= will_paginate @articles, :param_name => 'articles_page',:page_links => false %>
      </ol>
  </div>

  <div class="span4">
      <h3>Favorite Articles (<%= @favorite_articles.total_entries %>)</h3>
      <ol class="user_favorites">
        <% @favorite_articles.each do |favorite_article| %>
          <li>
            <span class="content"><%= link_to favorite_article.title, favorite_article.content %></span>
            <span class="timestamp">
            Liked <%= time_ago_in_words(favorite_article.created_at) %> ago.
            </span>
            <div>
              <% if current_user?(favorite_article.user) %>
              <%= link_to "delete", favorite_article, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: favorite_article.content %>
              <% end %>
            </div>
          </li>
        <% end %>
        <%= will_paginate @favorite_articles, :param_name => 'favorite_articles_page',:page_links => false %>
      </ol>
  </div>

  <div class="span4">
      <h3>Comments (<%= @comments.total_entries %>)</h3>
      <ol class="user_comments">
        <% @comments.each do |comment| %>
          <li>
            <span class="content"><%= comment.content %></span>
            <span class="timestamp">
            Posted <%= time_ago_in_words(comment.created_at) %> ago to <%= link_to Article.find_by_id(comment.article_id).title, Article.find_by_id(comment.article_id) %>.
            </span>
            <div>
              <% if current_user?(comment.user) %>
              <%= link_to "delete", comment, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: comment.content %>
              <% end %>
            </div>
          </li>
        <% end %>
        <%= will_paginate @comments, :param_name => 'comments_page',:page_links => false %>
      </ol>
  </div>
</div>