<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div id= "subscribe1"><%= f.text_field :email, placeholder: "Enter email" %></div>
    <div id= "subscribe2"><%= f.submit "Subscribe", class: "btn btn-primary btn-sm" %></div>
</span>
<% end %>
