<script>
    function fbShare(url, title, descr, image, winWidth, winHeight) 
    {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>
<div id = "content">
<table class = "content_table">
  <%= render @articles %>
</table>

<%= render 'subscriptions/form' %>

<div id = "top5">
<table class = "top5_table">
  <thead>
    <tr>
      <td id = "top5_title">Top 5</td>
    </tr>
  </thead>
  <tbody>
    <% @count = 0 %>
    <% @top_articles.take(5).each do |article| %>
    <% @count += 1 %>
      <tr id = "top5_border">
        <td class = "content_column2">
            <ul id = "content_column2">
              <li id = "rank"><%= @count %></li>
              <li id = "top_article_images"><%= link_to fetch_image_tag(article.image_tag, :width => 300, :height => 150, :crop => :fill), views_article_path(article.id), method: :post %></li>
            </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div id = "pagination"><%= will_paginate @articles%></div>

<% if signed_in? %>
<div id = "new_article_button">
<%= link_to 'New Article', new_article_path %>
</div>

<% end %>