
<table>
  <thead>
    <tr>
      <% if signed_in? %>
      <% if current_user.admin? && !current_user?(@user) %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
      <% end %>
      <th></th>
      <th></th>
      <th>Points</th>
      <% if signed_in? && !current_user.admin? %>
      <th>Views</th>
      <% else %>
      <th>Views</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class = "content_column" onclick="location.href='<%= views_article_path(article.id) %>'"><%= link_to image_tag(article.image_tag, :alt => "rss feed"), views_article_path(article.id), method: :post %></td>
        <td>
          <ul id = "content_actions">
            <li><%= link_to like_article_path(article.id) do
              image_tag("upvote.jpg", onmouseover: "this.src='#{asset_path('upvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('upvote.jpg')}'")
                end %></li>
            <li><%= link_to dislike_article_path(article.id) do
              image_tag("downvote.jpg", onmouseover: "this.src='#{asset_path('downvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('downvote.jpg')}'")
              end %></li>
            <li><%= link_to image_tag("share_button.jpg", :alt => "rss feed"), dislike_article_path(article.id), method: :put %></li>
            <li><%= link_to image_tag("comment_button.jpg", :alt => "rss feed"), article %></li>
          </ul>
        </td>
        <td class = "points"><%= (article.get_upvotes.size) %></td>
        <td class = "views"><%= article.views %></td>
        <% if signed_in? %>
        <% if current_user.admin? && !current_user?(@user) %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @articles %>

<% if signed_in? %>
<%= link_to 'New Article', new_article_path %>

<% end %>