<script>
    function fbShare(url, title, descr, image, winWidth, winHeight) 
    {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>
<div id = "content">
<table class = "content_table">
<tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class = "content_column">
            <ul id = "content_column">
              <li id = "title_div"><% if article.title.squish.length >= 50 %><%= article.title.squish[0...50] + "..."%><% else %><%= article.title %><% end %></li>
              <li><%= link_to fetch_image_tag(article.image_tag, :width => 500, :height => 250, :crop => :fill), views_article_path(article.id), method: :post %></li>
              <div class = "statistics">
              <li id = "points_stats">Points: <%= (article.get_upvotes.size) %></li>
              <li id = "views_stats">Views: <%= article.views %></li>
              </div>
            </ul>
        </td>
        <td>
          <ul id = "content_actions">
            <% if signed_in? %>
            <li id = "upvote"><%= link_to like_article_path(article.id), remote: true do
              image_tag("upvote.jpg",  onmouseover: "this.src='#{asset_path('upvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('upvote.jpg')}'", onclick: "this.src='#{asset_path('upvote_active.jpg')}'")
                end %></li>
            <li id = "downvote"><%= link_to dislike_article_path(article.id), remote: true do
              image_tag("downvote.jpg", onmouseover: "this.src='#{asset_path('downvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('downvote.jpg')}'", onclick: "this.src='#{asset_path('downvote_active.jpg')}'")
              end %></li>
            <% else %>
            <li id = "upvote"><%= link_to like_article_path(article.id) do
              image_tag("upvote.jpg", onmouseover: "this.src='#{asset_path('upvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('upvote.jpg')}'")
                end %></li>
            <li id = "downvote"><%= link_to dislike_article_path(article.id) do
              image_tag("downvote.jpg", onmouseover: "this.src='#{asset_path('downvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('downvote.jpg')}'")
              end %></li>
            <% end %>
            <li><%= link_to image_tag("comment_button.jpg", :alt => "rss feed"), article %></li>
            <!--Social Media-->
            <li><%= link_to image_tag("facebook_share.jpg", :alt => "rss feed"), "javascript:fbShare('#{article.content}', 'Fb Share', 'Facebook share popup', '#{article.content}', 520, 350)" %></li>
            <li><%= link_to image_tag("twitter_share.jpg", :alt => "rss feed"), "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.lazyhub.com/articles/#{article.id}/views&text=LazyHub&via=Lazy_Hub" %></li>
            <% if signed_in? %>
            <% if current_user.admin? && !current_user?(@user) %>
            <li><%= link_to 'Edit', edit_article_path(article) %></li>
            <li><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Post a Link to an Article', new_article_path, class: "btn btn-md btn-primary raised new_link_article_button" %>

<!-- <%= link_to 'Create a Text Post', new_article_path, class: "btn btn-md btn-primary raised new_text_article_button" %> -->

<!-- <%= render 'subscriptions/form' %> -->

<div id = "top5">
<table class = "top5_table">
  <thead>
    <tr>
      <td id = "top5_title">Most popular</td>
    </tr>
  </thead>
  <tbody>
    <% @count = 0 %>
    <% @top_articles.each do |article| %>
      <tr id = "top5_border">
        <td>
            <ul id = "content_column2">
              <% if @page == 'home' %>
                <li id = "article_type"><%= article.article_type %></li> 
              <% else %>
                <% @count += 1 %>
                <li id = "rank"><%= @count %></li>
              <% end %>
              <li id = "top_article_images"><%= link_to fetch_image_tag(article.image_tag, :width => 300, :height => 150, :crop => :fill), views_article_path(article.id), method: :post %></li>
            </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div id = "pagination" class = "digg_pagination"><%= will_paginate @articles %></div> 
</div>