<table class = "content_table">
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class = "content_column">
            <ul id = "content_column">
              <li id = "title_div"><%= article.title %></li>
              <li><%= link_to image_tag(article.image_tag, :alt => "rss feed"), views_article_path(article.id), method: :post %></li>
              <div id = "points_views">
              <li class = "inline_stats">Points: <%= (article.get_upvotes.size) %></li>
              <li class = "inline_stats">Views: <%= article.views %></li>
              </div>
            </ul>
        </td>
        <td>
          <ul id = "content_actions">
            <li><%= link_to like_article_path(article.id) do
              image_tag("upvote.jpg", onmouseover: "this.src='#{asset_path('upvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('upvote.jpg')}'")
                end %></li>
            <li><%= link_to dislike_article_path(article.id) do
              image_tag("downvote.jpg", onmouseover: "this.src='#{asset_path('downvote_active.jpg')}'", onmouseout: "this.src='#{asset_path('downvote.jpg')}'")
              end %></li>
            <li><%= link_to image_tag("comment_button.jpg", :alt => "rss feed"), article %></li>
            <li><iframe src="//www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.lazyhub.com%2Farticles%2F<%= article.id %>&amp;layout=box_count" scrolling="no" frameborder="0" width="56px" height="60px" style="border:none; overflow:hidden;" allowTransparency="true"></iframe></li>
            <li id = "content_actions_last">
              <a class="twitter-share-button"
                    href="https://twitter.com/share"
                    data-url= "http://www.lazyhub.com/articles/<%= article.id %>"
                    data-count="vertical">
                    Tweet
                </a>
            </li>
            <% if signed_in? %>
            <% if current_user.admin? && !current_user?(@user) %>
            <li><%= link_to 'Edit', edit_article_path(article) %></li>
            <li><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'subscriptions/form' %>

<div id = "top5">
<table class = "top5_table">
  <thead>
    <tr>
      <td id = "top5_title">Top 5</td>
    </tr>
  </thead>
  <tbody>
    <% @top_articles.take(5).each do |article| %>
      <tr id = "top5_border">
        <td class = "content_column">
            <ul id = "content_column">
              <li id = "rank"><%= article.rank %></li>
              <li id = "top_article_images"><%= link_to image_tag(article.image_tag2, :alt => "rss feed"), views_article_path(article.id), method: :post %></li>
            </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= will_paginate @articles %>

<% if signed_in? %>
<div id = "new_article_button">
<%= link_to 'New Article', new_article_path %>
</div>

<% end %>